@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

body{
	font-family: 'Roboto Condensed', sans-serif;
	overflow-x: hidden;
}
img{
	width: 100%;
}
.card-block{
	border: 0;
	padding: 0;
	margin: 0;
}
.mob-text h1{
    display: none;
    }
.mob-text h1{
    display: none;
    }
.mobper-text{
        display: none;
    }
.nav-tabs .nav-item{
	border: none;
	text-align: center;
	margin: 0 10px 0px 10px;
	padding: 0;
	height: 50px;
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #f8f8f8;
}
#banner .background-image{
background-image: url(../images/content/Clearance-sale-products-Main-banner_eng.jpg);
background-size: 100% 100%;
}
#carousel .owl-carousel .owl-stage{
    margin-top: 45px;
}
.nav-tabs .nav-link{
	border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	border: 1px solid #D3D3D3;
	border-bottom: none ;
	color: #0082c3 !important;
	transition: transform .2s;
	margin-bottom: 2px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.nav-link{
	display: inline;
	float: left;
	width: 100%;
	font-size: 20px;
	padding: 0;
	height: 51px;
	border-radius: 4px;
	padding: 10px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.nav-link:hover{
	color: #333;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	border-color: #d3d3d3;
}
.text_wrapper{
	position: absolute;
	bottom: 10px;
	width: 100%;
}

#hero_product{
	clear: both;
	padding-top: 100px;
}
.hero_text{
	float: left;
	width: 50%;
	text-align: right;
}
.hero_text h2{
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 125px 10px 0 0;
}
.hero_text p{
	padding: 10px 10px 50px 50px;
	font-size: 16px;
}
.hero_text_image{
	float: left;
	width: 50%;
	text-align: center;
	margin-bottom: 30px;
}
.ksm_dauz-b {
    width: 100%;
    float: none;
    max-width: 300px;
    padding: 0 10px 0 0;
    margin: 0 auto;
    padding: 15px 0;
}
.ksm_dauz-b p {
   	text-align: center;
   	padding: 0;
}
.ksm_dauz-b p a {
    position: relative;
    display: block;
    padding: 15px 0px 15px 0px;
    background: #0082c3;
    overflow: hidden;
    border-radius: 3px;
    text-decoration: none;
}
.ksm_dauz-b p a:before {
    position: absolute;
    content: '';
    bottom: 9px;
    right: 0;
    width: 120%;
    height: 250%;
    background-color: #006ea5;
    -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -moz-transform: translateY(100%) rotate(-10.5deg);
    -webkit-transform: translateY(100%) rotate(-10.5deg);
    -o-transform: translateY(100%) rotate(-10.5deg);
    -ms-transform: translateY(100%) rotate(-10.5deg);
    transform: translateY(100%) rotate(-10.5deg);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.ksm_dauz-b p a:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 22px;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    -moz-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -webkit-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -o-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -ms-transform: translate3d(0, -50%, 0) rotate(-45deg);
    transform: translate3d(0, -50%, 0) rotate(-45deg);
}
.ksm_dauz-b p a span {
    position: relative;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
 }
.ksm_dauz-b:hover p a:before,
.ksm_dauz-b.ksm_dauz-b_hover p a:before {
    bottom: 0;
    -moz-transform: translateY(0) rotate(-10.5deg);
    -webkit-transform: translateY(0) rotate(-10.5deg);
    -o-transform: translateY(0) rotate(-10.5deg);
    -ms-transform: translateY(0) rotate(-10.5deg);
    transform: translateY(0) rotate(-10.5deg);
  }
.ksm_dauz {
    width: 100%;
    float: none;
    max-width: 300px;
    padding: 0 10px 0 0;
	margin: 0 auto;
	padding: 15px 0;
}
.ksm_dauz p {
   	text-align: center;
   	padding: 0;
}
.ksm_dauz p a {
    position: relative;
    display: block;
    padding: 15px 0px 15px 0px;
    background: #ffea28;
    overflow: hidden;
    border-radius: 3px;
    text-decoration: none;
}
.ksm_dauz p a:before {
    position: absolute;
    content: '';
    bottom: 9px;
    right: 0;
    width: 120%;
    height: 250%;
    background-color: #fdd835;
    -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -moz-transform: translateY(100%) rotate(-10.5deg);
    -webkit-transform: translateY(100%) rotate(-10.5deg);
    -o-transform: translateY(100%) rotate(-10.5deg);
    -ms-transform: translateY(100%) rotate(-10.5deg);
    transform: translateY(100%) rotate(-10.5deg);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.ksm_dauz p a:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 22px;
    width: 9px;
    height: 9px;
    border: 1px solid #000;
    border-left: 0;
    border-top: 0;
    -moz-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -webkit-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -o-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -ms-transform: translate3d(0, -50%, 0) rotate(-45deg);
    transform: translate3d(0, -50%, 0) rotate(-45deg);
}
.ksm_dauz p a span {
    position: relative;
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
 }
.ksm_dauz:hover p a:before,
.ksm_dauz.ksm_dauz_hover p a:before {
    bottom: 0;
    -moz-transform: translateY(0) rotate(-10.5deg);
    -webkit-transform: translateY(0) rotate(-10.5deg);
    -o-transform: translateY(0) rotate(-10.5deg);
    -ms-transform: translateY(0) rotate(-10.5deg);
    transform: translateY(0) rotate(-10.5deg);
  }
.ksm_dau {
    width: 50%;
    float: right;
    padding: 0 10px 0 0;
}
.ksm_dau p {
   	text-align: center;
   	padding: 0;
}
.ksm_dau p a {
    position: relative;
    display: block;
    padding: 15px 0px 15px 0px;
    background: #ffea28;
    overflow: hidden;
    border-radius: 3px;
    text-decoration: none;
}
.ksm_dau p a:before {
    position: absolute;
    content: '';
    bottom: 9px;
    right: 0;
    width: 120%;
    height: 250%;
    background-color: #fdd835;
    -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -moz-transform: translateY(100%) rotate(-10.5deg);
    -webkit-transform: translateY(100%) rotate(-10.5deg);
    -o-transform: translateY(100%) rotate(-10.5deg);
    -ms-transform: translateY(100%) rotate(-10.5deg);
    transform: translateY(100%) rotate(-10.5deg);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.ksm_dau p a:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 22px;
    width: 9px;
    height: 9px;
    border: 1px solid #000;
    border-left: 0;
    border-top: 0;
    -moz-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -webkit-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -o-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -ms-transform: translate3d(0, -50%, 0) rotate(-45deg);
    transform: translate3d(0, -50%, 0) rotate(-45deg);
}
.ksm_dau p a span {
    position: relative;
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
 }
.ksm_dau:hover p a:before,
.ksm_dau.ksm_dau_hover p a:before {
    bottom: 0;
    -moz-transform: translateY(0) rotate(-10.5deg);
    -webkit-transform: translateY(0) rotate(-10.5deg);
    -o-transform: translateY(0) rotate(-10.5deg);
    -ms-transform: translateY(0) rotate(-10.5deg);
    transform: translateY(0) rotate(-10.5deg);
  }

.ksm_dau_blue {
    width: 35%;
    float: right;
    padding: 50px 0;
}
.ksm_dau_blue p {
   	text-align: center;
   	padding: 0;
}
.ksm_dau_blue p a {
    position: relative;
    display: block;
    padding: 15px 0px 15px 0px;
    background: #0082c3;
    overflow: hidden;
    border-radius: 3px;
    text-decoration: none;
}
.ksm_dau_blue p a:before {
    position: absolute;
    content: '';
    bottom: 9px;
    right: 0;
    width: 120%;
    height: 250%;
    background-color: #006ea5;
    -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -moz-transform: translateY(100%) rotate(-10.5deg);
    -webkit-transform: translateY(100%) rotate(-10.5deg);
    -o-transform: translateY(100%) rotate(-10.5deg);
    -ms-transform: translateY(100%) rotate(-10.5deg);
    transform: translateY(100%) rotate(-10.5deg);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.ksm_dau_blue p a:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 22px;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    -moz-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -webkit-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -o-transform: translate3d(0, -50%, 0) rotate(-45deg);
    -ms-transform: translate3d(0, -50%, 0) rotate(-45deg);
    transform: translate3d(0, -50%, 0) rotate(-45deg);
}
.ksm_dau_blue p a span {
    position: relative;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
 }
.ksm_dau_blue:hover p a:before,
.ksm_dau_blue.ksm_dau_blue_hover p a:before {
    bottom: 0;
    -moz-transform: translateY(0) rotate(-10.5deg);
    -webkit-transform: translateY(0) rotate(-10.5deg);
    -o-transform: translateY(0) rotate(-10.5deg);
    -ms-transform: translateY(0) rotate(-10.5deg);
    transform: translateY(0) rotate(-10.5deg);
  }

.title_heading{
	position: relative;
	background: #fff;
	padding-top: 20px;
}
.title_heading h2{
	font-size: 40px;
	padding-left: 40px;
	letter-spacing: 1px;
	color: #333;
	background: #fff;
	margin: 0;
	font-weight: 900;
	text-transform: uppercase;
}
.title_heading:after{
	  height: 5px;
	  width: 50px;
	  bottom: 0px;
	  left: 40px;
	  content: '';
	  background: #0082c3;
	  position: absolute;
	  border-radius: 4px;
}
#carousel{
	padding: 10px 0;
}
#module-decashopcms-page .owl-nav .owl-prev, .owl-nav .owl-next{
    top: 40%;
    background: transparent!important;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#module-decashopcms-page .owl-carousel .owl-nav button.owl-next{
    right: 0;
}
#module-decashopcms-page .owl-dots{
    width: auto!important;
    top: 0px
}
#module-decashopcms-page .owl-carousel.owl-drag .owl-item{
  margin-top: 20px;
}
@keyframes scroll{
  0%{
    opacity: 1
	}
  100%{
    opacity: 0;
    transform: translateY(46px);
	}
}
@media screen and (max-width: 767px){
	#banner .owl-prev span::before, .owl-next span::before{
        width: 15px;
        height: 15px;
    }
    #carousel .owl-carousel .owl-stage{
        margin-top: 0;
    }
    /*.mob-text{
    display: block;
    }
    .mobper-text{
    display: block;
    }
    .mob-text{
        position: absolute;
        bottom: 10%;
    }
    .mob-text h1{
        font-family: Roboto Condensed light, sans-serif;
        color: #f9ffff;
    }
    
    .mob-text h1>span {
        font-size: 58px;
    }
    .mobper-text h1 {
    color: #f9ffff;
    position: absolute;
    bottom: -1%;
    right: 0%;
    font-size: 3.2rem;
    }

    .background-image{
        background-image:none;
    }
    #hero_product{
        clear: both;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .hero_text{
        float: none;
        width: 100%;
        text-align: center;
    }
    #banner .background-image{
    background-image:none; );
    }
    #banner .background-image{
    background-color: #ca2e2a !important;
    }*/
    #banner .banner-wrapper {
    min-height: 100vh;
}
	.hero_text h2{
		font-size: 25px;
		padding: 20px 20px 5px 20px;
	}
	.hero_text p{
		padding: 5px 20px 0px 20px;
		font-size: 16px;
	}
	.hero_text_image{
		float: none;
		width: 100%;
	}
	.ksm_dau {
	    width: 75%;
	    float: none;
	    margin: 0 auto;
	}
	#sports_advice{
		background: none;
		height: auto;
	}
	.bg_trans{
		background: transparent !important;
	}
	.sp_text{
		margin-top: 0;
		padding: 40px 20px 30px 20px;
		border-radius: 0;
		height: auto;
		margin-bottom: 0;
	}
	.ksm_dau_blue{
		width: 100%;
		float: none;
		margin: 0 auto;
	}
	.videoclose{
		width: 30px;
		height: 30px;
	}
	.close_button{
		font-size: 30px;
		padding-top: 18px;
	}
	.title_heading h2{
		font-size: 25px;
		padding-left: 20px;
		font-weight: 600;
	}
	.title_heading:after{
		  height: 5px;
		  width: 30px;
		  bottom: 0px;
		  left: 20px;
		  content: '';
		  background: #0082c3;
		  position: absolute;
		  border-radius: 4px;
	}
	.hidden-md-up li:nth-child(2){
		display: inline-block;
	}	
    img .bg-desktop{
        display: none;
    }
    img .bg-mobile{
        display: none;
    }
}

body {
    font: 400 14px/1.4 'Roboto Condensed', sans-serif;
    color: #575D5E;
    overflow-x: hidden !important;
    position: relative;
    -webkit-font-smoothing: antialiased
}

.card {
    padding: 0;
}
#banner .owl-carousel .owl-nav button.owl-next{
    right: 10px;
}
.card[noshade] {
    -webkit-box-shadow: 0 0 #000;
    box-shadow: 0 0 #000;
    border: 1px solid #ececec
}

.min-gutters {
    margin-left: -5px;
    margin-right: -5px
}

.min-gutters>[class*="col"] {
    padding-left: 5px;
    padding-right: 5px
}
#banner .owl-prev span:before, #banner .owl-next span:before{
    width: 25px;
    height: 25px;
}
#banner .owl-prev span:before{
    border-width: 2px 0 0 2px;
}
#banner .owl-next span:before{
    border-width:  0 2px 2px 0;
}
figure {
    margin-bottom: 0
}

.text-black {
    color: #000
}

.bg-gray {
    background-color: #707070
}

.bg-lite-gray {
    background-color: #B1B1B1
}

.background-image,
#banner .banner-wrapper .banner-content .carousel-wrapper,
.monsoon-checklist .category-list .category-wrapper {
    background-size: cover;
    background-repeat: no-repeat
}

.decalogo {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 999;
}

.decalogo img {
    width: 175px;
}

#banner {
    position: relative
}

#banner .banner-wrapper {
    min-height: 90vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 7.5vw
}
#banner .owl-nav .owl-prev, .owl-nav .owl-next{
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent!important;
}
#banner .banner-wrapper .banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

#banner .banner-wrapper .banner-content .banner-hero {
    color: #fff;
    font-weight: 300;
    letter-spacing: 3px;
    max-width: 27vw
}

#banner .banner-wrapper .banner-content .banner-hero b {
    font-weight: 700
}

#banner .banner-wrapper .banner-content .banner-hero h4 {
    font-weight: 300
}

#banner .banner-wrapper .banner-content .banner-hero h1 {
    font-size: 15vw;
    line-height: 0.8;
    margin-left: -10px;
    letter-spacing: 0px;
    font-weight: 700
}

#banner .banner-wrapper .banner-content .carousel-wrapper {
    background-image: url(../images/banner-carousel.svg);
    background-position: top left;
    padding: 40px 0 40px 10vw;
    color: #575D5E;
    max-width: 55vw;
    margin-right: 10px;
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure {
    text-align: center;
    padding: 0 30px
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure a img {
    max-width: 100%;
    margin: 0 auto 20px
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption {
    max-width: 185px;
    margin: auto
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption h4 {
    font-size: 18px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption h4 .sale {
    background-color: #FF3A0B;
    font-size: 10px;
    padding: 4px 12px 4px 7px;
    margin-right: -10px;
    color: #fff
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption h4 .new {
    background-color: #03C18E;
    font-size: 10px;
    padding: 4px 12px 4px 7px;
    margin-right: -10px;
    color: #fff
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption h4 .price {
    background-color: #FFEA29;
    padding: 5px 15px 5px 10px;
    margin-left: 10px;
    position: relative
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption h4 .price:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 10px solid transparent;
    border-top: 31px solid #FFEA29
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption .name {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-bottom: 5px
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption .discount {
    color: #FF3A0B;
    margin-left: 10px
}

#banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption .rating {
    max-width: 100px
}

#banner .banner-wrapper .banner-content .carousel-wrapper .owl-carousel .owl-stage-outer {
    max-width: calc(100% - 30px);
    margin-left: auto
}

#banner .banner-wrapper .banner-content .carousel-wrapper .owl-carousel .owl-nav button svg {
    padding: 5px
}

#banner .scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 160px;
    margin: auto;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 15px 15px 5px;
    color: #fff;
    cursor: pointer
}

#banner .scroll-down-icon span {
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
    width: 10px;
    margin: auto auto 5px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease
}

#banner .scroll-down-icon span:nth-child(1) {
    -webkit-animation: scrollDown 1s 0s infinite;
    animation: scrollDown 1s 0s infinite
}

#banner .scroll-down-icon span:nth-child(2) {
    -webkit-animation: scrollDown 1s 0.2s infinite;
    animation: scrollDown 1s 0.2s infinite
}

#banner .scroll-down-icon span:nth-child(3) {
    -webkit-animation: scrollDown 1s 0.4s infinite;
    animation: scrollDown 1s 0.4s infinite
}

@-webkit-keyframes scrollDown {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scrollDown {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@media (max-width: 991px) {
    .decalogo {
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 999;
    }
    .decalogo img {
        width: 150px;
    }
    .background-image{
        background-position: 0px;
    }
    #banner .banner-wrapper{
        min-height: 80vh !important;
    }
    .title_heading{
        padding-bottom: 5px;
    }
    .categories h2 {
        padding: 20px 0;
        letter-spacing: 2px;
        font-size: 30px;
    }
    #banner .banner-wrapper .banner-content .carousel-wrapper .owl-carousel .owl-nav button svg {
        padding: 0;
        height: 17.5px;
        width: 17.5px;
    }
    #banner .banner-wrapper {
        padding-left: 20px
    }
    #banner .banner-wrapper .banner-content .banner-hero p {
        font-size: 8px
    }
    #banner .banner-wrapper .banner-content .banner-hero h4 {
        font-weight: 300;
        font-size: 12px
    }
    #banner .banner-wrapper .banner-content .carousel-wrapper {
        padding: 20px 0 20px 10vw;
        max-width: 70vw
    }
    #banner .banner-wrapper .banner-content .carousel-wrapper figure {
        padding: 0 20px
    }
    #banner .banner-wrapper .banner-content .carousel-wrapper figure figcaption {
        max-width: 130px
    }
    #banner .banner-wrapper .banner-content .carousel-wrapper figure a img {
        max-width: 100px
    }
    
}
@media screen and (max-width: 767px){
    .mob-text h1{
    display: block;
    }
    .mobper-text{
    display: block;
    }

    .mob-text{
        position: absolute;
        bottom: 10%;
        /* text-align: center; */
        margin-left: px;
        
    }
    .mob-text h1{
        color: #f9ffff;
        font-size: 2rem;
        letter-spacing: 2px;
    }
    
    .mob-text h1>span {
        font-size: 2rem;
        text-align: center;
    }
    .mobper-text p {
    color: #f9ffff;
    position: absolute;
    bottom: -1%;
    right: 0%;
    letter-spacing: 1px;
    font-size: 2rem;
    
    }

    #banner .background-image{
    background-image:none;
    }
    #banner .background-image{
    background-color: #ca2e2a !important;
    /* Clearance-HP-mainban-mob_eng */
    background-image: url('../images/content/Clearance-HP-mainban-mob_new_16.jpg');
    }
    .scroll-down{
        display: none;
    }
  
    }
    